{% load static %}
{% with APP_NAME="AstroPhotoPlanner" %}

<link rel="shortcut icon" type="image/jpg" href="{% static 'AstroPhotoPlanner/images/favicon.jpg' %}" >

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} AstroPhotoPlanner{% endblock %} </title>
        <link href="{% static 'AstroPhotoPlanner/css/bootstrap_5_3_8.css' %}" rel="stylesheet">
        <link href="{% static 'AstroPhotoPlanner/css/style.css' %}" rel="stylesheet">

        {% block scripts %}
        {% endblock %}
    </head>

    <body>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/{{APP_NAME}}">AstroPhotoPlanner</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link {% if active_page == 'plan_observation' %}active{% endif %}" aria-current="page" href="/{{APP_NAME}}/plan_observation" title="Plan observation for a selected night and location">Plan observation</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if active_page == 'check_objects_availability' %}active{% endif %}" aria-current="page" href="/{{APP_NAME}}/check_objects_availability" title="Check availability of objects for observation throughout the year from your location. What is the best season of the year for the observation?">Check objects availability</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if active_page == 'user_profile' %}active{% endif %}" href="/{{APP_NAME}}/user_profile">My profile</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if active_page == 'my_catalogues' %}active{% endif %}" href="/{{APP_NAME}}/my_catalogues">My catalogues</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if active_page == 'my_locations' %}active{% endif %}" href="/{{APP_NAME}}/my_locations">My locations</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    AstroPhotoPlanner by Michal Dubovsky
                </span>
                </div>
            </div>
            </nav>

        <div class="container mb-2 flex-grow-1 mt-4">
            {% block content %}
            {% endblock %}
        </div>


        <footer class="footer mt-auto py-3 bg-light">
            <center>
                <p>&copy; 2025 AstroPhotoPlanner by Michal Dubovsky</p>
                <p><img src="{% static 'AstroPhotoPlanner/images/github_logo_small.png' %}" style="height: 20px;"> github: <a href="https://github.com/dubovsky14/AstroPhotoPlanner" target="_blank">dubovsky14/AstroPhotoPlanner</a></p>
            </center>
        </footer>



    </body>
</html>

{% endwith %}