{% extends "AstroPhotoPlanner/base.html" %}

{% block title %} Check availability of objects throughout the year - AstroPhotoPlanner {% endblock %}

{% load static %}

{% block content %}
    <center>
        <h1>Check availability of objects throughout the year</h1>

        <br>
    <ul>

        <form method="post" action="/AstroPhotoPlanner/observation">
            {% csrf_token %}

            <table class='table table-sm2' style="border-collapse: collapse; width:50%;">
                <tr>
                    <th style="border:none;">
                        <label for="location_select">Select location:</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <select id="location_select" name="location">
                            {% for location in locations %}
                                <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th style="border:none;">
                        <label for="catalogue_id">Select catalogue:</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <select id="catalogue_id" name="catalogue_id">
                            {% for catalogue in catalogues %}
                                <option value="{{ catalogue.id }}">{{ catalogue.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th style="border:none;">
                        <label for="observation_date">Select observation date:</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <input type="date" id="observation_date" name="observation_date" value="{{ today_date }}">
                    </td>
                </tr>

                <tr>
                    <th style="border:none;">
                        <label for="minimal_observation_time">Set minimal time for observation (minutes):</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <input type="number" id="minimal_observation_time" name="minimal_observation_time" value="120" min="1">
                    </td>
                </tr>
            </table>
            <br><br>

            <input class="btn btn-primary" type="submit" value="Check objects availability throughout the year" formaction="/AstroPhotoPlanner/objects_availability_throughout_year">

        </form>

    </ul>

    </center>
{% endblock %}