{% extends "AstroPhotoPlanner/base.html" %}

{% block title %} Plan observation - AstroPhotoPlanner {% endblock %}

{% load static %}

{% block content %}
    <center>
        <h1>My observation</h1>

        <p>Observation date: <b>{{observation_date}}</b></p>
        <p>Location: <b>{{location.name}}</b></p>
        <p>Astronomical night: <b>{{night_start}} - {{night_end}}</b></p>

        <br>
        <h3>Selected objects from catalogue:</h3>
        <table border="1" class='table table-sm' style="border-collapse: collapse; text-align: center;">
            <tr>
                <th>Object Name</th>
                <th>RA (hours)</th>
                <th>Dec (deg)</th>
                <th>Type</th>
                <th>Time for observation</th>
            </tr>
            {% for obj in objects_data %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.ra }}</td>
                    <td>{{ obj.dec }}</td>
                    <td>{{ obj.object_type }}</td>
                    {% if obj.observation_time_text %}
                        <td>{{ obj.observation_time_text }}</td>
                    {% else %}
                        <td colspan="2" style="text-align:center;color:{{ obj.alternative_text_color }}"><b>{{ obj.alternative_text }} </b></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>


    </center>
{% endblock %}