{% extends "AstroPhotoPlanner/base.html" %}

{% block title %} Plan observation - AstroPhotoPlanner {% endblock %}

{% load static %}

{% block content %}
    <center>
        <h1>Plan observation</h1>

    <ul>

        <form method="post" action="/AstroPhotoPlanner/observation">
            {% csrf_token %}

            <table class='table table-sm2' style="border-collapse: collapse; width:50%;">
                <tr>
                    <th style="border:none;">
                        <label for="location_select">Select location:</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <select id="location_select" name="location">
                            {% for location in locations %}
                                <option value="{{ location.id }}" {% if default_location_id == location.id %}selected{% endif %}>{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th style="border:none;">
                        <label for="catalogue_id">Select catalogue:</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <select id="catalogue_id" name="catalogue_id">
                            {% for catalogue in catalogues %}
                                <option value="{{ catalogue.id }}">{{ catalogue.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th style="border:none;">
                        <label for="observation_date">Select observation date:</label>
                    </th>
                    <td style="text-align: right; border:none;">
                        <input type="date" id="observation_date" name="observation_date" value="{{ today_date }}">
                    </td>
                </tr>
            </table>
            <br><br>

            <input class="btn btn-primary" type="submit" value="Plan">

        </form>

    </ul>

    </center>
{% endblock %}