

.month-box {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: help;
}

.days-number {
    font-size: 16px;
}
