

.month-box {
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    cursor: help;
}

.top-number {
    font-size: 12px;
}

.bottom-number {
    font-size: 12px;
    opacity: 0.9;
}